<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyhdyh.adapter.example">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralActivity"
            android:label="单样式Adapter"></activity>
        <activity
            android:name=".MultifyActivity"
            android:label="多样式RecyclerAdapter"></activity>
        <activity
            android:name=".MultifyListActivity"
            android:label="多样式ListAdapter"></activity>

        <activity android:name=".DataBindingActivity"
            android:label="DataBinding单样式Adapter"></activity>
        <activity android:name=".DataBindingMultifyActivity"
            android:label="DataBinding多样式RecyclerAdapter"></activity>
        <activity android:name=".DataBindingMultifyListActivity"
            android:label="DataBinding多样式ListAdapter"></activity>
    </application>

</manifest>